
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/_LayoutPage1.cshtml";
    
}
<h2>Customer List Page</h2>

<table>
    <tr>
        <th>Classification</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>City</th>
        <th>Region</th>
        <th>Last Purchase</th>
    </tr>
    <tbody id="table-body"></tbody>
</table>